#jxgbox {
    display: inline-block;
    margin-left: 7%;
    margin-right: 4%;
    border: #3c3f41 4px solid;
    background-color: #ffffff;
    stroke: #cc6833;
}

form {
    display: inline-block;
    vertical-align:top;
    width: 25%;
    height: 25%;
    margin-left: 6.2%;
    margin-right: 2%;
    text-align: center;
    font-family: monospace;

}

.table {
    display: inline-block;
    vertical-align:top;
    width: 25%;
    height: 25%;
    margin-left: 6.2%;
    margin-right: 2%;
    text-align: center;

}

#jxgbox_licenseText {
    display: none;
}